@import "./All.module.css";

header
{
    background: url(../Asset/header-bg.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 35vh;
    max-height: 500px;
    min-height: 350px;
}

nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.NavbarBrand
{
    text-decoration: none;
    font-size: 1em;
    color: var(--sub-color);
}

.Link
{
    margin-left: 5vw;
    font-size: 0.7em;
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
    font-family: var(--menu-font);
}

.Link:hover
{
    color: var(--sub-color);
}

.Login
{
   width: 12vw;
   min-width: 50px;
   max-width: 100px;
   height: 28px;
   margin-left: 5vw;
   background-color: var(--main-color);
   color: var(--white-color);
   border: 0;
   border-radius: 6px 6px 6px 6px;
   font-size: 0.5em;
   cursor: pointer;
   font-family: var(--menu-font);
}

.Login:hover
{
    background-color: rgb(100, 95, 165);
}

.MainHeader
{
    text-align: center;
    margin-top: 5vh;
    color: var(--sub-color);
    padding: 20px;
}

.MainHeader h2
{
    font-family: var(--title-font);
    font-size: 2em;
}

.MainHeader p
{
    margin-top: 2vh;
    font-style: italic;
    font-family: var(--info-font);
    color: var(--white-color);
    font-size: 0.8em;
    margin-bottom: 3vh
}

@media screen and (min-width: 480px)
{
    .Login
    {
        height: 32px;
    }
}