@import "./All.module.css";

.MainBox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ServicesInfo
{
    padding-top: 30px;
    text-align: center;
}

.ServicesInfo h3
{
    font-size: 2.8em;
    color: var(--main-color);
    font-family: var(--title-font);
}

.ServicesInfo span
{
    color: var(--black-color);
    font-family: var(--menu-font);
    font-size: 0.7em;
    font-style: italic;
}

.ServicesBox
{
    margin: 70px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    color: var(--main-color);
    font-size: 4em;
}



.Services_Image
{
    align-self: center;
    width: 2.2em;
    height: 2.2em;
    border-radius: 100px 100px 100px 100px;
}

.ServicesBox h4
{
    color: var(--black-color);
    font-size: 0.35em;
    margin-top: 10px;
}

.TextBox
{
    padding-bottom: 20px;
    align-self: center;
    margin-top: 15px;
    font-size: 0.21em;
    width: 60vw;
    max-width: 400px;
    color: black;
}

.TextBox p
{
    font-family: var(--info-font);
    margin-top: 3px;
}


@media screen and (min-width: 770px)
{
    .ServicesInfo h3
    {
    font-size: 2em;
    }

    .ServicesInfo span
    {
        font-size: 0.5em;
    }

    .ServicesBox
    {
        font-size: 3em;
    }



    .Services_Image
    {
        width: 2em;
        height: 2em;
    }

    .ServicesBox h4
    {
        font-size: 0.35em;
    }

    .TextBox
    {
        font-size: 0.2em;
    }
}

@media screen and (min-width: 1620px)
{
    .MainBox
    {
        flex-flow: row wrap;
    }

}