* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}

body {
    background: rgb(126, 126, 126);
    overflow: hidden;
}

div {
    width: 100vw;
    height: 55vh;
    vertical-align: middle;
}

span {
    color: rgb(73, 73, 73);
    font-size: 1.4em;
    display: inline-flex;
}

.rogo {
    color: rgb(177, 172, 255);
    margin-right: 10px;
}

#user {
    background: rgb(240, 240, 240);
    width: 1320px;
    height: 800px;
    margin: auto;
    margin-top: 5%;
    border-radius: 12px;
}

#header {
    display: inline-flex;
    background-color: rgb(37, 37, 37);
    margin-top: 2%;
    height: 10%;
    width: 25vw;
    text-align: right;
    border-radius: 0px 12px 12px 0px;
}

#header h2 {
    margin: 15px;
    margin-left: 10vw;
    color: rgb(177, 172, 255);
    font-size: 2.3em;
}

#under {
    height: 10%;
    width: 98%;
    text-align: right;
}

label {
    margin-left: 30px;
}

#main1 input {
    width: 350px;
    height: 40px;
    margin-top: 3vh;
    margin-left: 24vw;
    padding-left: 15px;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(206, 206, 206);
    font-family: Arial, Helvetica, sans-serif
}

#main2 input {
    width: 350px;
    height: 40px;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 24vw;
    padding-left: 15px;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(206, 206, 206);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    width: 200px;
    height: 40px;
    margin-top: 1vh;
    margin-left: 28vw;
    margin-bottom: 80px;
    background-color: rgb(177, 172, 255);
    color: white;
    border-radius: 6px;
    border: 0px;
    font-size: 1.3em;
}

button:hover {
    background-color: rgb(147, 144, 185);
}

#main1 h2 {
    font-size: 3em;
    margin-bottom: 0;
    margin-left: 20vw;
    margin-bottom: 3vh;
    margin-top: 5%;
    color: rgb(177, 172, 255);
}

#main2 p {
    font-size: 1.3em;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -32vw;
    text-align: center;
    color: rgb(70,70,70);
}

#main2 h2 {
    font-size: 4em;
    margin-bottom: 0;
    margin-left: 20vw;
    margin-bottom: 2%;
    margin-top: 10vh;
    color: rgb(177, 172, 255);
}

@media screen and(max-width:1870px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Source Sans Pro';
    }
    body {
        background: rgb(126, 126, 126);
    }
    div {
        width: 100%;
        height: 68%;
        vertical-align: middle;
    }
    span {
        color: rgb(73, 73, 73);
        font-size: 1.4em;
        display: inline-flex;
    }
    .rogo {
        color: rgb(177, 172, 255);
        margin-right: 10px;
    }
    #user {
        background: rgb(240, 240, 240);
        width: 1320px;
        height: 900px;
        margin: auto;
        margin-top: 8%;
        border-radius: 12px;
    }
    #header {
        display: inline-flex;
        background-color: rgb(37, 37, 37);
        margin-top: 2%;
        height: 10%;
        width: 60%;
        text-align: right;
        border-radius: 0px 12px 12px 0px;
    }
    #header h2 {
        margin: 15px;
        margin-left: 60%;
        color: rgb(177, 172, 255);
        font-size: 2.3em;
    }
    #under {
        height: 10%;
        width: 98%;
        text-align: right;
    }
    label {
        margin-left: 30px;
    }
    input {
        width: 330px;
        height: 40px;
        margin-top: 3%;
        margin-left: 35%;
        padding-left: 15px;
        font-size: 0.9em;
        border-radius: 5px;
        border: 1px solid;
        border-color: rgb(206, 206, 206);
        font-family: Arial, Helvetica, sans-serif
    }
    button {
        width: 150px;
        height: 35px;
        margin-top: 25px;
        margin-left: 42%;
        margin-bottom: 80px;
        background-color: rgb(177, 172, 255);
        color: white;
        border-radius: 6px;
        border: 0px;
        font-size: 1.1em;
    }
    button:hover {
        background-color: rgb(147, 144, 185);
    }
    #main1 h2 {
        font-size: 3em;
        margin-bottom: 0;
        margin-left: 30%;
        margin-bottom: 2%;
        margin-top: 5%;
        color: rgb(177, 172, 255);
    }
    #main2 p {
        font-size: 1.3em;
        font-style: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 32%;
    }
    #main2 h2 {
        font-size: 4em;
        margin-bottom: 0;
        margin-left: 28%;
        margin-bottom: 2%;
        margin-top: 10%;
        color: rgb(177, 172, 255);
    }
}