@import "./All.module.css";

.AboutInfo
{
    padding-top: 30px;
    text-align: center;
}

.AboutInfo h3
{
    font-size: 2.8em;
    color: var(--main-color);
    font-family: var(--title-font);
}

.AboutInfo span
{
    color: var(--black-color);
    font-family: var(--menu-font);
    font-size: 0.7em;
    font-style: italic;
}

.Info
{
    margin-top: 35px;
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
}

.InfoBox
{
    align-self: center;
    width: 260px;
    border: 2px dashed;
    border-color: var(--sub-color);
    border-radius: 20px 20px 20px 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.ImageBox
{
    width: 100%;
}

.ContentsBox
{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.TitleBox
{
    width: 100%;
    color: var(--black-color);
    margin-bottom: 15px;
}

.TitleBox h2
{
    font-size: 1.3em;
}

.TextBox
{
    width: 100%;
    height: 75%;
    color: var(--black-color);
    font-family: var(--info-font);
}

.TextBox span
{
    font-size: 0.7em;
}

.Line
{
    align-self: center;
    width: 2px;
    background-color: rgb(180, 180, 180);
    height: 50px;
}

.About_Image
{
    align-self: center;
    width: 12em;
    height: 12em;
    border-radius: 12px 12px 12px 12px;
    margin: 0;
}

@media screen and (min-width: 480px)
{
    .InfoBox
    {
    align-self: left;
    width: 300px;
    padding: 50px;
    }

    .About_Image
    {
    width: 10em;
    height: 10em;
    }

    .TitleBox
    {
        font-size: 0.6em;
    }

    .TextBox span
    {
        font-size: 0.6em;
    }
}


@media screen and (min-width: 770px)
{
    .About_Image
    {
    margin: 0;
    width: 7.8em;
    height: 7.8em;
    }
}


@media screen and (min-width: 1620px)
{
    .InfoBox
    {
        width: 700px;
        flex-direction: row;
    }

    .ContentsBox
    {
        height: 100%;
        text-align: left;
    }

    .TitleBox
    {
        margin-bottom: 20px;
    }
    .AboutInfo h3
    {
        font-size: 2em;
    }

    .AboutInfo span
    {
        font-size: 0.5em;
    }
}