@import url(http://fonts.googleapis.com.com/earlyccess/nanumgothic.css);

.ng font
{
    font-family: 'Nanum Gothic' , '돋움';
}
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body
{
    background:url('Image/Index_Main.jpg')no-repeat right bottom fixed;
    background-size: cover;
}

h2
{
    font-size: 4em;
}

hr
{
    height: 5px;
    background-color: white;
}

p
{
    font-size:1.3em;
    font-style: bold;
    margin: 10px;
}

#main
{
    display:inline-block;
    position: fixed;
    top: 20vh;
    left: 50vh;
    right: 50vh;
    text-align:center;
    color: white;
}

@media screen and (min-width:721px)
{

}