@import url(http://fonts.googleapis.com.com/earlyccess/nanumgothic.css);

.ng font
{
    font-family: 'Nanum Gothic' , '돋움';
}
*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body
{
    background:url('Image/Index_Main.jpg')no-repeat right bottom fixed;
    background-size: cover;
}

a:link, a:visited
{
    color:#fff;
    text-decoration: none;
}
a:hover
{
    color: rgb(177, 172, 255);
}

.navbar
{
    background-color: rgb(24, 24, 24);
    position: relative;
}

nav
{
    font-size: 1.3em;
    position: relative;
    text-align: center;
    font-style: bold;
    padding: 10px;
}

nav ul
{
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

nav ul li
{
    list-style-type: none; 
    float: left;
    text-align: center;
    margin-left: 60px;
    padding: 0 0 0 0;
}


#rogo
{
   position: fixed;
   margin-left: 10px;
   top: 0;
   left: 0;
}

h2
{
    font-size: 6em;
    margin-bottom: 0;
}

h3
{
    font-size: 3em;
    color: rgb(177, 172, 255);
    margin-top: 0;
}

hr
{
    height: 5px;
    background-color: white;
    margin: 10px;
}

p
{
    font-size:1.3em;
    font-style: bold;
}

button
{
    margin: 60px;
    height: 50px;
    width: 300px;
    border: 3px solid rgb(177, 172, 255);
    border-radius: 15px;
    color: white;
    font-size: 24px;
    opacity: 85%;
    background: rgb(24, 24, 24);
}

button:hover
{
    background-color: rgb(177, 172, 255);
}

#main
{
    display:inline-block;
    position: fixed;
    top: 30vh;
    left: 50vh;
    right: 50vh;
    text-align:center;
    color: white;
}

@media screen and (max-width:1870px)
{
#main
{
    left: 10vh;
    text-align:left;
}

button
{
    margin-left: 0px;
    height: 50px;
    width: 300px;
    left: 10px;
}

hr
{
    height: 5px;
    background-color: white;
    margin-top: 20px;
    margin-left:0;
}

}